/* ---------------------------------------------------------------------------------- */
/* ----------------------------------GENERAL----------------------------------------- */
/* ---------------------------------------------------------------------------------- */
a:focus { text-decoration: none; }

/* ---------------------------------------------------------------------------------- */
/* ----------------------------------COLORS----------------------------------------- */
/* ---------------------------------------------------------------------------------- */
.star-color{color:#f8c637;}
.dark-clr { color: #8a8a8a; }
.dark-blue{
  background: #313947;
}
.white-bg { background-color: #ffffff !important; }

.dark-bg { background-color: #8a8a8a; }

.light-bg { background-color: #f9f9f9; }

.trans-bg { background: rgba(0, 0, 0, 0.95) !important; }

/*List*/
.hover-bg { background-color: #0081c2; }

/*font color*/
.white-clr { color: #ffffff; }

/*Shadows*/
.active-shadow { -webkit-box-shadow: 0 8px 6px -6px #3099fb; -moz-box-shadow: 0 8px 6px -6px #3099fb; box-shadow: 0 8px 6px -6px #3099fb; }

/*Glows*/
.active-glow { box-shadow: 0px 0px 5px #3099fb; -moz-box-shadow: 0px 0px 5px #3099fb; -webkit-box-shadow: 0px 0px 5px #3099fb; -o-box-shadow: 0px 0px 5px #3099fb; }

/*scroll shadow*/
.scroll-shadow { -webkit-box-shadow: 0 8px 6px -6px #777777; -moz-box-shadow: 0 8px 6px -6px #777777; box-shadow: 0 8px 6px -6px #777777; }

/*GrayScale*/
.gray-scale { -webkit-filter: grayscale(100%); filter: grayscale(100%); filter: gray; filter: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' height='0'><filter id='greyscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0' /></filter></svg>#greyscale"); }

img.sepia { filter: url(sepia.svg#old-timey); -webkit-filter: sepia(1); -webkit-filter: sepia(100%); filter: sepia(100%); background-color: #5E2612; filter: alpha(opacity=50); zoom: 1; }

img.blur { width: 367; height: 459px; filter: url(blur.svg#blur); -webkit-filter: blur(3px); filter: blur(3px); filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='3'); }

/* ---------------------------------------------------------------------------------- */
/* ----------------------------------BORDERS----------------------------------------- */
/* ---------------------------------------------------------------------------------- */
/*Border */
.border { border: 1px solid #aaa; }
.border-left{border-left:1px solid #eaeaea;}

.br-dk { border: 1px solid #aaa; }

.br-lt { border: 1px solid #343b42; }

.br-bt-lt { border-bottom: 1px solid #566375 !important; }

.border-radius { border-radius: 5px !important; -webkit-border-radius: 5px !important; -o-border-radius: 5px !important; -moz-border-radius: 5px !important; }

.radius100 { border-radius: 100px !important; -webkit-border-radius: 100px !important; -o-border-radius: 100px !important; -moz-border-radius: 100px !important; }

.no-border { border: none !important; }

.no-border-radius { border-radius: 0 !important; -webkit-border-radius: 0 !important; -o-border-radius: 0 !important; -moz-border-radius: 0 !important; }

.br-lt-bt { border-bottom: 1px solid #343b42; }

/* ---------------------------------------------------------------------------------- */
/* ----------------------------------Display Options--------------------------------- */
/* ---------------------------------------------------------------------------------- */
.block{
  display: block;
}
.width100 { width: 100% !important; display: block; }
.height100{
  height: 100%;
  display: -ms-flexbox!important;
  display: -webkit-box!important;
  display: -moz-box!important;
  display: -ms-box!important;
  display: box!important;
  -ms-flex-direction: row!important;
 -webkit-box-orient: horizontal!important;
 -moz-box-orient: horizontal!important;
 -ms-box-orient: horizontal!important;
 box-orient: horizontal!important;
}
.height100.xs-cancel-height100{
  height: auto!important;
  display: block!important;
  box-orient:none;
}
.flex0{
  -ms-flex: 0;
-webkit-box-flex:  0;
-moz-box-flex:  0;
-ms-box-flex:  0;
box-flex:  0;
}
.flex1{
  -ms-flex:1;
-webkit-box-flex:  1;
-moz-box-flex:  1;
-ms-box-flex:  1;
box-flex:  1;
}
.table { display: table; }

.v-align { display: table-cell; vertical-align: middle; }

.fixed { position: fixed; }
.rela{
  position: relative;
}

.fixed-width { width: 100%; height: 100%; position: fixed; z-index: 999999999; }

.z-inx-top-1 { z-index: 1000; }

.relative { position: relative !important; }

.ps-abs { position: absolute; }

.ds-block { display: block !important; }

.clearfix { clear: both; }
.bg-pos-right{
  background-position: center right!important;
}
.bg-no-repeat{
  background-repeat: no-repeat!important;
}
.overlay-white-bg{
  background: rgba(255, 255, 255, 0.96);
}
.noScroll{overflow-y: hidden!important;}
@media only screen and (max-width: 480px) {
  .xs-hide{display: none!important;}
  .xs-show{display: inline!important;}
}
@media only screen and (max-width: 768px) {
  .sm-show{display: block;}
  .sm-hide{display: none;}
}
/*Fonts*/
.uppr { text-transform: uppercase; }
/*CHECKBOX AND RADIO BUTTON STYLE*/
/*input[type='radio'],
input[type='checkbox'] {
    opacity: 0;
    float: left;
    width: 18px;
}

input[type='radio'] + label,
input[type='checkbox'] + label {
    margin: 0;
    clear: none;
    padding: 5px 0 4px 24px;
    cursor: pointer;
    background: url(off.png) left center no-repeat;
}
input[type='radio']:checked + label {
    background-image: url(radio.png);
}
input[type='checkbox']:checked + label {
    background-image: url(check.png);
}*/

.border-top{
  border-top:1px solid #f1f1f1;
}
.border-bottom{
  border-bottom:1px solid #f1f1f1;
}
.border-right{
  border-right:1px solid #f1f1f1;
}
.border-left{
  border-left:1px solid #f1f1f1;
}
/* ---------------------------------------------------------------------------------- */
/* ----------------------------------ALIGN----------------------------------------- */
/* ---------------------------------------------------------------------------------- */
.text-center { text-align: center; }

.text-left { text-align: left; }

.text-right { text-align: right; }

.pull-right { float: right !important; }

.pull-left { float: left !important; }

/*tablet*/
@media only screen and (max-width: 768px) { .sm-text-center { text-align: center; }
  .sm-text-left { text-align: left; }
  .sm-text-right { text-align: right; }
  .sm-no-pull { float: none !important; }
  .sm-pull-left { float: left !important; }
  .sm-pull-right { float: right !important; } }
/*Mobile*/
@media only screen and (max-width: 480px) { .xs-text-center { text-align: center!important; }
  .xs-text-left { text-align: left; }
  .xs-text-right { text-align: right; }
  .xs-no-pull { float: none !important; }
  .xs-pull-left { float: left !important; }
  .xs-pull-right { float: right !important; } }
/* ---------------------------------------------------------------------------------- */
/* -----------------------------------INPUT----------------------------------------- */
/* ---------------------------------------------------------------------------------- */
input[type="text"] { height: 35px; width: 100%; color: #8a8a8a; }

/*space*/
.top-none { top: 0; }

.bottom-none { bottom: 0; }

.left-none { left: 0; }

.right:-none { right: 0; }

/* ---------------------------------------------------------------------------------- */
/* -----------------------------------MARGIN----------------------------------------- */
/* ---------------------------------------------------------------------------------- */
.margin-auto { margin: auto; }

/*NORMAL*/
.no-margin { margin: 0 !important; }

.no-margin-top { margin-top: 0 !important; }

.no-margin-right { margin-right: 0 !important; }

.no-margin-bottom { margin-bottom: 0 !important; }

.no-margin-left { margin-left: 0 !important; }

.margin-lg { margin: 40px !important; }

.margin-md { margin: 20px !important; }

.margin-sm { margin: 10px !important; }

.margin-xs { margin: 5px !important; }
.margin-top-xl { margin-top: 60px !important; }
.margin-top-lg { margin-top: 40px !important; }

.margin-top-md { margin-top: 20px !important; }

.margin-top-sm { margin-top: 10px !important; }

.margin-top-xs { margin-top: 5px !important; }

.margin-right-lg { margin-right: 40px !important; }

.margin-right-md { margin-right: 20px !important; }

.margin-right-sm { margin-right: 10px !important; }

.margin-right-xs { margin-right: 5px !important; }

.margin-bottom-lg { margin-bottom: 40px !important; }

.margin-bottom-md { margin-bottom: 20px !important; }

.margin-bottom-sm { margin-bottom: 10px !important; }

.margin-bottom-xs { margin-bottom: 5px !important; }

.margin-left-lg { margin-left: 40px !important; }

.margin-left-md { margin-left: 20px !important; }

.margin-left-sm { margin-left: 10px !important; }

.margin-left-xs { margin-left: 5px !important; }

/*MOBILE*/
@media only screen and (max-width: 480px) {
  .no-xs-margin { margin: 0 !important; }
  .no-xs-margin-top { margin-top: 0 !important; }
  .no-xs-margin-right { margin-right: 0 !important; }
  .no-xs-margin-bottom { margin-bottom: 0 !important; }
  .no-xs-margin-left { margin-left: 0 !important; }
  .xs-margin-lg { margin: 40px !important; }
  .xs-margin-md { margin: 20px !important; }
  .xs-margin-sm { margin: 10px !important; }
  .xs-margin-xs { margin: 5px !important; }
  .xs-margin-top-lg { margin-top: 40px !important; }
  .xs-margin-top-md { margin-top: 20px !important; }
  .xs-margin-top-sm { margin-top: 10px !important; }
  .xs-margin-top-xs { margin-top: 5px !important; }
  .xs-margin-right-lg { margin-right: 40px !important; }
  .xs-margin-right-md { margin-right: 20px !important; }
  .xs-margin-right-sm { margin-right: 10px !important; }
  .xs-margin-right-xs { margin-right: 5px !important; }
  .xs-margin-bottom-lg { margin-bottom: 40px !important; }
  .xs-margin-bottom-md { margin-bottom: 20px !important; }
  .xs-margin-bottom-sm { margin-bottom: 10px !important; }
  .xs-margin-bottom-xs { margin-bottom: 5px !important; }
  .xs-margin-left-lg { margin-left: 40px !important; }
  .xs-margin-left-md { margin-left: 20px !important; }
  .xs-margin-left-sm { margin-left: 10px !important; }
  .xs-margin-left-xs { margin-left: 5px !important; } }
/*TABLET*/
@media only screen and (max-width: 768px) { .no-sm-margin { margin: 0 !important; }
  .no-sm-margin-top { margin-top: 0 !important; }
  .no-sm-margin-right { margin-right: 0 !important; }
  .no-sm-margin-bottom { margin-bottom: 0 !important; }
  .no-sm-margin-left { margin-left: 0 !important; }
  .sm-margin-lg { margin: 40px !important; }
  .sm-margin-md { margin: 20px !important; }
  .sm-margin-sm { margin: 10px !important; }
  .sm-margin-xs { margin: 5px !important; }
  .sm-margin-top-lg { margin-top: 40px !important; }
  .sm-margin-top-md { margin-top: 20px !important; }
  .sm-margin-top-sm { margin-top: 10px !important; }
  .sm-margin-top-xs { margin-top: 5px !important; }
  .sm-margin-right-lg { margin-right: 40px !important; }
  .sm-margin-right-md { margin-right: 20px !important; }
  .sm-margin-right-sm { margin-right: 10px !important; }
  .sm-margin-right-xs { margin-right: 5px !important; }
  .sm-margin-bottom-lg { margin-bottom: 40px !important; }
  .sm-margin-bottom-md { margin-bottom: 20px !important; }
  .sm-margin-bottom-sm { margin-bottom: 10px !important; }
  .sm-margin-bottom-xs { margin-bottom: 5px !important; }
  .sm-margin-left-lg { margin-left: 40px !important; }
  .sm-margin-left-md { margin-left: 20px !important; }
  .sm-margin-left-sm { margin-left: 10px !important; }
  .sm-margin-left-xs { margin-left: 5px !important; } }
/* -----------------------------------PADDING----------------------------------------- */
/*NORMAL*/
.no-padding { padding: 0 !important; }

.no-padding-top { padding-top: 0 !important; }

.no-padding-right { padding-right: 0 !important; }

.no-padding-bottom { padding-bottom: 0 !important; }

.no-padding-left { padding-left: 0 !important; }

.padding-lg { padding: 40px !important; }

.padding-md { padding: 20px !important; }

.padding-sm { padding: 10px !important; }

.padding-xs { padding: 5px !important; }

.padding-top-xl { padding-top: 60px !important; }

.padding-top-lg { padding-top: 40px !important; }

.padding-top-md { padding-top: 20px !important; }

.padding-top-sm { padding-top: 10px !important; }

.padding-top-xs { padding-top: 5px !important; }

.padding-right-lg { padding-right: 40px !important; }

.padding-right-md { padding-right: 20px !important; }

.padding-right-sm { padding-right: 10px !important; }

.padding-right-xs { padding-right: 5px !important; }

.padding-bottom-lg { padding-bottom: 40px !important; }

.padding-bottom-md { padding-bottom: 20px !important; }

.padding-bottom-sm { padding-bottom: 10px !important; }

.padding-bottom-xs { padding-bottom: 5px !important; }

.padding-left-lg { padding-left: 40px !important; }

.padding-left-md { padding-left: 20px !important; }

.padding-left-sm { padding-left: 10px !important; }

.padding-left-xs { padding-left: 5px !important; }

/*MOBILE*/
@media only screen and (max-width: 480px) { .no-xs-padding { padding: 0 !important; }
  .no-xs-padding-top { padding-top: 0 !important; }
  .no-xs-padding-right { padding-right: 0 !important; }
  .no-xs-padding-bottom { padding-bottom: 0 !important; }
  .no-xs-padding-left { padding-left: 0 !important; }
  .xs-padding-lg { padding: 40px !important; }
  .xs-padding-md { padding: 20px !important; }
  .xs-padding-sm { padding: 10px !important; }
  .xs-padding-xs { padding: 5px !important; }
  .xs-padding-top-lg { padding-top: 40px !important; }
  .xs-padding-top-md { padding-top: 20px !important; }
  .xs-padding-top-sm { padding-top: 10px !important; }
  .xs-padding-top-xs { padding-top: 5px !important; }
  .xs-padding-right-lg { padding-right: 40px !important; }
  .xs-padding-right-md { padding-right: 20px !important; }
  .xs-padding-right-sm { padding-right: 10px !important; }
  .xs-padding-right-xs { padding-right: 5px !important; }
  .xs-padding-bottom-lg { padding-bottom: 40px !important; }
  .xs-padding-bottom-md { padding-bottom: 20px !important; }
  .xs-padding-bottom-sm { padding-bottom: 10px !important; }
  .xs-padding-bottom-xs { padding-bottom: 5px !important; }
  .xs-padding-left-lg { padding-left: 40px !important; }
  .xs-padding-left-md { padding-left: 20px !important; }
  .xs-padding-left-sm { padding-left: 10px !important; }
  .xs-padding-left-xs { padding-left: 5px !important; } }
/*TABLET*/
@media only screen and (max-width: 768px) { .no-sm-padding { padding: 0 !important; }
  .no-sm-padding-top { padding-top: 0 !important; }
  .no-sm-padding-right { padding-right: 0 !important; }
  .no-sm-padding-bottom { padding-bottom: 0 !important; }
  .no-sm-padding-left { padding-left: 0 !important; }
  .sm-padding-lg { padding: 40px !important; }
  .sm-padding-md { padding: 20px !important; }
  .sm-padding-sm { padding: 10px !important; }
  .sm-padding-xs { padding: 5px !important; }
  .sm-padding-top-lg { padding-top: 40px !important; }
  .sm-padding-top-md { padding-top: 20px !important; }
  .sm-padding-top-sm { padding-top: 10px !important; }
  .sm-padding-top-xs { padding-top: 5px !important; }
  .sm-padding-right-lg { padding-right: 40px !important; }
  .sm-padding-right-md { padding-right: 20px !important; }
  .sm-padding-right-sm { padding-right: 10px !important; }
  .sm-padding-right-xs { padding-right: 5px !important; }
  .sm-padding-bottom-lg { padding-bottom: 40px !important; }
  .sm-padding-bottom-md { padding-bottom: 20px !important; }
  .sm-padding-bottom-sm { padding-bottom: 10px !important; }
  .sm-padding-bottom-xs { padding-bottom: 5px !important; }
  .sm-padding-left-lg { padding-left: 40px !important; }
  .sm-padding-left-md { padding-left: 20px !important; }
  .sm-padding-left-sm { padding-left: 10px !important; }
  .sm-padding-left-xs { padding-left: 5px !important; } }
/* ---------------------------------------------------------------------------------- */
/* ----------------------------------Spacing----------------------------------------- */
/* ---------------------------------------------------------------------------------- */
.top-xs { top: 5px; }

.top-sm { top: 10px; }

.top-md { top: 20px; }

.top-lg { top: 40px; }

.bottom-xs { bottom: 5px; }

.bottom-sm { bottom: 10px; }

.bottom-md { bottom: 20px; }

.bottom-lg { bottom: 40px; }

.left-xs { left: 5px; }

.left-sm { left: 10px; }

.left-md { left: 20px; }

.left-lg { left: 40px; }

.no-left { left: 0 !important; }

.right-xs { right: 5px; }

.right-sm { right: 10px; }

.right-md { right: 20px; }

.right-lg { right: 40px; }

/* ---------------------------------------------------------------------------------- */
/* ----------------------------------List----------------------------------------- */
/* ---------------------------------------------------------------------------------- */
ul { list-style-type: none; }

/* ---------------------------------------------------------------------------------- */
/* -----------------------------------ANIMATION------------------------------- */
/* ---------------------------------------------------------------------------------- */
.animBlock { display: inline-block; opacity: 0; filter: alpha(opacity=0); position: relative; -webkit-transition: all .35s ease-in; -moz-transition: all .35s ease-in; -ms-transition: all .35s ease-in; -o-transition: all .35s ease-in; transition: all .35s ease-in; }

/*NORMAL*/
.animBlock[data-position="normal"] { top: 0px; }

.animBlock[data-position="left"] { left: -20px; }

.animBlock[data-position="right"] { right: -20px; }

.animBlock[data-position="top"] { top: -20px; }

.animBlock[data-position="bottom"] { bottom: -20px; }

.animBlock[data-position="normal"].viewed { top: 0%; opacity: 1; filter: alpha(opacity=100); }

.animBlock[data-position="left"].viewed { left: 0%; opacity: 1; filter: alpha(opacity=100); }

.animBlock[data-position="right"].viewed { right: 0%; opacity: 1; filter: alpha(opacity=100); }

.animBlock[data-position="top"].viewed { top: 0%; opacity: 1; filter: alpha(opacity=100); }

.animBlock[data-position="bottom"].viewed { bottom: 0%; opacity: 1; filter: alpha(opacity=100); }

/*TABLET*/
@media only screen and (max-width: 768px) { .animBlock[data-position="left"] { left: -10px; }
  .animBlock[data-position="right"] { right: -10px; }
  .animBlock[data-position="top"] { top: -10px; }
  .animBlock[data-position="bottom"] { bottom: -10px; }
  .animBlock[data-position="left"].viewed { left: 0%; opacity: 1; filter: alpha(opacity=100); }
  .animBlock[data-position="right"].viewed { right: 0%; opacity: 1; filter: alpha(opacity=100); }
  .animBlock[data-position="top"].viewed { top: 0%; opacity: 1; filter: alpha(opacity=100); }
  .animBlock[data-position="bottom"].viewed { bottom: 0%; opacity: 1; filter: alpha(opacity=100); } }
/*MOBILE*/
@media only screen and (max-width: 480px) { .animBlock[data-position="left"] { left: -5px; }
  .animBlock[data-position="right"] { right: -5px; }
  .animBlock[data-position="top"] { top: -5px; }
  .animBlock[data-position="bottom"] { bottom: -5px; }
  .animBlock[data-position="left"].viewed { left: 0%; opacity: 1; filter: alpha(opacity=100); }
  .animBlock[data-position="right"].viewed { right: 0%; opacity: 1; filter: alpha(opacity=100); }
  .animBlock[data-position="top"].viewed { top: 0%; opacity: 1; filter: alpha(opacity=100); }
  .animBlock[data-position="bottom"].viewed { bottom: 0%; opacity: 1; filter: alpha(opacity=100); } }
/*BOOTSTRAP RESET*/
input[type="radio"], input[type="checkbox"] { margin: 0; padding: 0; }


.tooltip > .tooltip-inner {
  font-family: HelveticaNeue-Light,'Arial',serif;
  font-size: 12px;
  color: #E6E6E6;
  letter-spacing: 1.09px;
  background: rgba(52,52,52,0.86);
  border-radius: 100px;
  max-width: 200px!important;
}
